.form-row {
  display: flex;
  align-items: center;
  height: 30px;
  gap: 0.5rem;

  &:nth-child(2) {
    margin-bottom: 10px;
  }
}

.btn {
  height: 25px;
  padding: 3px;
  text-transform: uppercase;

  &-header {
    width: 100px;
    margin: 30px 10px 50px 0;
  }

  &-pagination {
    margin: 20px 10px 0 0;
  }
}

.form__input {
  height: 19px;
}

.form__input__color {
  height: 25px;
}

.table-winners {
  display: grid;
  grid-template-columns: 1fr 1fr 2fr 1fr 1fr;
  width: 500px;

  &-header {
    font-weight: bold;
  }

  * {
    border: 1px solid;
    padding-left: 5px;
  }
}

.track {
  position: relative;
  margin: 5px 0 5px 0;
  height: 40px;
  border-bottom: 1px dotted;

  &__car {
    position: absolute;
    left: 50px;
    bottom: 1px;
    width: 60px;
  }

  &__finish {
    position: absolute;
    right: 100px;
    bottom: 5px;
    height: 30px;
  }
}
